/.metals/
/.vscode/
/.bloop/
/.bsp/
/.idea/
/project/.bloop/
/project/project/
/project/target/


/target/
/core/target/
/zio/core/target/

/persistence/postgres/target/
/service/target/
/zio/live-tracking/target/
/zio/account/target/
