/.metals/
/.vscode/
/.bloop/
/.bsp/
/.idea/
/project/.bloop/
/project/project/
/project/target/


/target/
/core/target/

/shared/zio/target/

/modules/persistence-postgres/target/
/modules/service-impl/target/
/modules/live-tracking-grpc-zio/target/
/modules/account-grpc-zio/target/
