/.metals/
/.vscode/
/.bloop/
/.bsp/
/.idea/
/project/.bloop/
/project/project/
/project/target/


*.semanticdb


/target/
/core/target/

/libraries/f/target/

/shared/zio/target/
/shared/grpc/target/
/shared/ducktape/target/
/shared/gt-crs/target/
/shared/kafka/target/

/shared-test/core/target/
/shared-test/scalamock/target/
/shared-test/testcontainers/target/

/modules/persistence-postgres/target/
/modules/service-impl/target/
/modules/account-grpc/target/
/modules/live-track-grpc/target/


/generated/live-track-grpc/target/


/docker/postgres-testing/migration/
/docker/postgres-testing/*.tar.gz