<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>
    <logger name="org.testcontainers" level="warn" />
    <logger name="tc.testcontainers/ryuk:0.11.0" level="warn" />
    <logger name="tc.docker.io/library/estrondo:awa-test-postgres-0.0.0" level="info" />
    <logger name="com.github.dockerjava" level="warn" />
    <logger name="io.getquill.context.jdbc.JdbcContextVerbExecute" level="warn" />
</configuration>
